@import url(./partials/_variables.css);
html,
body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-light);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* main-navbar */

.main-navbar {
  position: relative;
  width: 100%;
  padding: 5px 0 20px 0;
  background-color: var(--dark-color);
}

.brand-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.brand-link .brand-image {
  max-width: 50px;
  left: 50%;
  z-index: 1;
  margin-top: 2px;
}

.brand-container hr {
  height: 1.5px;
  width: 350px;
  top: 50%;
  margin: 0;
  position: absolute;
  border-style: none;
  z-index: 0;
}

.main-navbar hr#left-hr {
  left: calc(50% - 48px);
  transform: translateX(-100%);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-image: linear-gradient(
    to left,
    rgba(248, 248, 248, 1),
    rgba(248, 248, 248, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.main-navbar hr#right-hr {
  left: calc(50% + 48px);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-image: linear-gradient(
    to right,
    rgba(248, 248, 248, 1),
    rgba(248, 248, 248, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.navbar-lists {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-box {
  display: flex;
  flex-direction: row;
  width: 280px;
}

.navbar-box:nth-child(1) {
  margin-right: 50px;
  justify-content: flex-end;
  /* padding-right: 15px; */
}

.navbar-box:nth-child(2) {
  margin-left: 50px;
}

.navbar-items {
  padding: 0 20px;
  text-transform: uppercase;
}

.navbar-box:nth-child(1) .navbar-items {
  text-align: right;
}

.navbar-box:nth-child(2) .navbar-items {
  text-align: left;
}

.navbar-items .navbar-links {
  color: var(--light-color);
  font: normal 500 1rem/2px var(--noto);
  transition: text 5s ease-in;
  width: 100%;
  text-decoration: none;
}
