@import url(./partials/_variables.css);
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--libre);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**/

/* Navbar button*/

.nav-container {
  overflow: hidden;
}

.hamburger-button {
  width: 35px;
  height: 35px;
  padding: 5px 0;
  background-color: transparent;
  border-radius: 5px;
  position: fixed;
  z-index: 99;
  right: 20px;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.expand .hamburger-button {
  background-color: transparent;
  box-shadow: none;
}

.button-line {
  width: 90%;
  position: absolute;
  height: 4.5px;
  background-color: var(--light-color);
  border-radius: 5px;
  box-shadow: 0 0 0 0.8px var(--dark-color);
}

.button-line:nth-child(1) {
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out 0.35s, background 0ms ease-in-out 0.35s,
    opacity 0.3s ease-in-out 0.35s;
}

.button-line:nth-child(2),
.button-line:nth-child(3) {
  transition: transform 0.3s ease-in-out, box-shadow 0ms ease-in-out 0.2s;
}

.button-line:nth-child(4) {
  transform: translateY(10px);
  transition: transform 0.3s ease-in-out 0.35s, background 0ms ease-in-out 0.35s,
    opacity 0.3s ease-in-out 0.35s;
}

.expand .button-line:nth-child(1),
.expand .button-line:nth-child(4) {
  transform: translateY(0);
  background: transparent;
  opacity: 0;
  transition: transform 0.3s ease-in-out, background 0ms ease-in-out 0.3s,
    opacity 0ms ease-in-out 0.3s;
}

.expand .button-line:nth-child(2) {
  transform: rotate(45deg);
  transition-delay: 0.3s;
  box-shadow: none;
}

.expand .button-line:nth-child(3) {
  transform: rotate(-45deg);
  transition-delay: 0.3s;
  box-shadow: none;
}

/* Navbar expand lists*/

.nav-container .navbar-lists {
  background-color: var(--dark-color);
  height: 100vh;
  width: 20vw;
  position: fixed;
  right: -20vw;
  transition: right 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  list-style: none;
  z-index: 2;
}

.navbar-lists.display {
  right: 0;
}

.navbar-items {
  text-decoration: none;
  width: 100%;
  line-height: 85px;
  text-align: center;
  text-transform: uppercase;
}

a.navbar-links {
  text-decoration: none;
  color: var(--light-color);
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(175, 173, 173, 0.7);
}

.brand-image img {
  width: 80px;
  padding: 7px;
}

/* Introduction*/

.main-header {
  padding-top: 56.25%;
  width: 100%;
  background: url(../images/header1.jpg) no-repeat bottom;
  background-size: cover;
  position: relative;
}

.header-intro {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-transform: capitalize;
}

.header-intro > * {
  margin: 8px 0;
}

/* intro- news ticker*/
.intro-aspiration {
  display: inline-flex;
}

.intro-aspiration * {
  width: 150px;
}

.intro-target {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.target-list {
  text-decoration: none;
  list-style: none;
}

/*About*/

.about {
  background: var(--dark-color);
  min-height: 85vh;
}

.chapter-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: text-top;
  padding: 35px 0;
  text-transform: uppercase;
  font-weight: 700;
}

.about-image {
  min-width: 150px;
  max-width: 25%;
  border-radius: 50%;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text {
  text-align: center;
}

/* skills */

.skills {
  width: 100%;
  background: url(../images/concrete-wall-2.png);
  background-color: var(--light-color);
  height: 80vh;
}

.skills-content {
  max-width: 800px;
}

.skills-container {
  padding: 20px 0;
}

.skills-items {
  text-align: center;
}

.skills-image {
  max-width: 110px;
  text-align: center;
  opacity: 70%;
}

.row .col-md-6.skills-items {
  margin-top: -3%;
}

.row .col-md-6.skills-items:nth-child(1) {
  text-align: end;
  padding-right: 10%;
}

.row .col-md-6.skills-items:nth-child(2) {
  text-align: start;
  padding-left: 10%;
}

/* Projects */

.projects {
  min-height: 90vh;
}

.project-card {
  position: relative;
  overflow: hidden;
  margin: 8px 0px;
}

.project-details {
  position: absolute;
  z-index: 1;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.72);
  color: var(--light-color);
  width: calc(100% - 30px);
  height: 100%;
  transition: top 0.3s ease-in-out;
  padding: 7px 12px;
}

.project-title {
  font-size: 1.25rem;
}

.project-card:hover > .project-details {
  top: 20%;
}

/* Contact */

.contact {
  background-color: var(--dark-color);
}

.contact-invitation {
  text-align: center;
}
.contact-image i {
  font-size: 3vw;
  color: var(--dark-color);
}

.contact-media {
  margin: 0 auto;
  padding: 12px 8px;
  max-width: 70%;
}

.contact-link {
  text-align: center;
}
