html,
body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* color variables */
:root {
  --primary-color: rgb(8, 131, 114);
  --primary-color-light: rgb(14, 230, 230);
  --bg-light: rgb(248, 248, 248);
  --title-color: #1f1e1e;
  --dark-color: rgb(51, 51, 51);
  --light-color: rgb(240, 240, 240);
  --gradient-color: linear-gradient(314deg, #bebebe, #494649);
  --shadow-color: 0px 8px 21px rgba(5, 148, 112, 0.301);
  --box-shadow-color: rgba(78, 115, 119, 0.285);
  --noto: 'Noto Sans JP', sans-serif;
}

.light-text {
  color: var(--light-color);
}

.dark-text {
  color: var(--dark-color);
}

.medium-text {
  font-size: 1.5rem;
}

.large-text {
  font-size: 3.5rem;
}
